<div style="text-align:center;">
	<img src="/r/images/meFace.jpg" alt="Jye Lewis" width="250" style="float:left;margin: 0 20px 20px 0;"  />
</div>
<p>
My name is Jye Lewis, I am 17 years old and live in Yowie Bay, NSW Australia.
</p><p>
I have used and am competent on Mac, Windows and Linux machines, I have been programing and building websites since I was 7 years old and can fluently code in many languages including VB, PHP, Objective C and Python. I can cutup websites well and quickly. I started learning PHP at 7, VB at 14 and Node.JS at 15 I have a good understanding of the bash CLI and its associated applications; I can and have setup Linux and web, file and database servers.
</p><p>
I work a part time job at <a href=”http://www.digeratisolutions.com.au/”>Digerati Solutions</a> where I cutup websites, examples are under the websites menu. I have been working at Digerati since the beginning of 2012.
</p><p>
I have used multiple different SQL based database systems (including MySQL and Microsoft SQL Sever) and also some noSQL servers (including MongoDB and Redis)
</p><p>
I am currently a year 11 student at Inaburra School, but have been accelerated into some year 12 subjects as I am a competent and interested student. I am the first student that the school has accelerated in this way, and I have a strong desire to prove my talent to the school and honour them in their trust in me. 
</p><p>
I was accepted and subsequently completed 10 Saturday Informatics courses at Wollongong University while I was in year 7 and 8. These courses were designed for year 10, 11 and 12 students and although I was younger than my peers at the course, I understood and excelled.
</p><p>
I am a keen student who has a strong desire to continue learning, especially within the programming and operating systems fields. My next desired step with my learning is to join your team as a work experience student for a week.
</p>