<p>
Welcome,
</p><p>
My name is Jye Lewis and this is my portfolio of work.<br>
Under the projects menu you will find some of my personal projects with information and images.<br>
Under websites there is a list containing some of the websites I have worked on.
</p>